<%- include('header') %>

<form method="GET" action="/cotacao">
    <input name="cotacao" placeholder="Cotação dólar">
    <input name="quantidade" placeholder="Quantidade de dólar">
    <button>Converter!</button>
</form>

<%- include('footer') %>